{% extends 'base.html.twig' %}

{% block title %}GardeTonSmile{% endblock %}

{% block body %}
    <h1>{{ puraliser(publications|length, 'Publication', 'Publications') }}</h1>
    {% for publication in publications %}
        <article>
        <h2><a href="{{ path('app_publications_show', {id:publication.id}) }}">{{ publication.title }}</a></h2>
        <p>{{ publication.description|u.truncate(25, '...', false) }}</p>
        <p>Ajouter le {{ publication.createdAt|ago }}</p>
        </article>
    {% endfor %}
{% endblock %}
