{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-6 mx-auto text-center">
            <h1 class="mt-5 mb-3">Profil</h1>

            <img src="{{ app.user.gravatar }}" alt="{{ app.user.fullName }} avatar" class="shadow rounded-circle">

            <p class="lead mt-4">{{ app.user.email }}</p>
            <p><small>Compte créer le {{ app.user.createdAt|date('d/m/Y') }}</small></p>

            <h2>{{ app.user.fullName }}</h>

            <p class="h5 mt-2">
                <a href="{{ path('app_account_edit') }}">Modifier mon compte</a> | 
                <a href="{{ path('app_account_change_password') }}">Changer de mot de passe</a>
            </p>
        </div>
    </div>

{% endblock %}
